body{
 background-color: #ffffff;   
}
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
.navbar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li {
  float: right;
}
.navbar li a:hover{
  background-color: blue;
  text-decoration: underline;
}  

.navbar ul :first-child{
  float: left;
  font-size: large;
}

.move-right{
  float: right;
  padding: 70px;
  margin: 15px
}
.words{
  align-content: center;
  text-align: center;
  padding: 70px;
  margin: 15px;
  
  
}
h2{
  color:  rgb(201, 171, 5);
  font-size: 40px ;
  font-style: italic ;
}
h1{
  font-size: 50px;
}
ul li{
  list-style: none;
}
Li a{
  color: rgb(201, 171, 5);
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5em;
}
p{
  font-size: 2.7em;
  text-align: center;
}
article.words > * {
  margin: 7px 0; 
}
section{
  margin-top: 70px;
}